.header {
  background-color: white;
  color: black;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 4.75rem;
  display: flex;
  align-items: center;
  width: 100%; /* Keep this */
  z-index: 1000;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px; /* Optional: constrain content width */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h1 {
  margin: 0 !important; /* Removes default margin */
  font-size: 1.5rem; /* Adjusts text size */
}

nav {
  display: flex;
  margin-left: auto;
  gap: 20px;
  align-items: center; /* Ensures nav links are centered vertically */
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  display: flex; /* Allows for vertical alignment on link text */
  align-items: center; /* Vertically centers link text */
}

.nav-link:hover {
  text-decoration: none
}
