<header class="header">
  <div class="container">
    <h1 class="nav-link" routerLink="/">Pana&#x2BB;ewa Weather Dashboard</h1>
    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Toggle navigation">
      &#9776;
    </button>
    <nav [class.open]="menuOpen">
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/weather-dashboard">Weather Dashboard</a>
      <a class="nav-link" routerLink="/resources">Resources</a>
    </nav>
  </div>
</header>
