<footer class="footer">
  <div class="footer-content">
    <div class="footer-logos">
      <a class="logo-link" href="https://manoa.hawaii.edu/" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/manoa.png" alt="University of Hawaiʻi" />
      </a>
      <a class="logo-link" href="https://hilo.hawaii.edu/" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/hilo.png" alt="University of Hawaiʻi" />
      </a>
      <a class="logo-link" href="https://www.noaa.gov" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/NOAA.svg" alt="National Oceanic and Atmospheric Administration" />
      </a>
      <a class="logo-link" href="https://www.hawaii.edu/hcdp" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/hcdp_text_bottom.png" alt="Hawaiʻi Climate Data Portal" />
      </a>
      <a class="logo-link" href="https://www.soest.hawaii.edu/pdke/" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/pdke.png" alt="Pacific Drought Knowledge Exchange" />
      </a>
      <a class="logo-link" href="https://www.soest.hawaii.edu/seagrant/" target="_blank" rel="noopener">
        <img class="footer-logo" src="logos/SeaGrant.jpg" alt="Pacific Drought Knowledge Exchange" />
      </a>
    </div>

    <p class="footer-text">
      Funding text
    </p>

  </div>
</footer>
