<footer class="footer">
  <div class="footer-content">
    <div class="footer-logos">
      <a class="logo-link" href="https://www.hawaii.edu" target="_blank" rel="noopener">
        <img class="footer-logo" src="/logos/UH.png" alt="University of Hawaiʻi" />
      </a>
      <a class="logo-link" href="https://www.noaa.gov" target="_blank" rel="noopener">
        <img class="footer-logo" src="/logos/NOAA.svg" alt="National Oceanic and Atmospheric Administration" />
      </a>
      <a class="logo-link" href="https://www.hcdp.ikewai.org" target="_blank" rel="noopener">
        <img class="footer-logo" src="/logos/hcdp_text_bottom.png" alt="Hawaiʻi Climate Data Portal" />
      </a>
      <span class="logo-link">
        <img class="footer-logo" src="/logos/pdke.png" alt="Pacific Drought Knowledge Exchange" />
      </span>
      <span class="logo-link">
        <img class="footer-logo" src="/logos/SeaGrant.jpg" alt="Pacific Drought Knowledge Exchange" />
      </span>
    </div>

    <p class="footer-text">
      Funding text
    </p>

  </div>
</footer>
